<%= form_with model: @category, url: categories_path, loacal: true do |f| %>
    <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
    <div class="mb-3">
        <%= f.label :icon, class: "form-label" %>
        <%= f.text_field :icon, class: "form-control", placeholder: "Icon" %>
    </div>
    <div class="mb-3">
        <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>