<h1>New transaction</h1>
<%= form_with model: @transaction, url: category_transactions_path(category_id: @category.id), loacal: true do |f| %>
    <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
    <div class="mb-3">
        <%= f.label :amount, class: "form-label" %>
        <%= f.number_field :amount, class: "form-control", placeholder: "Amount" %>
    </div>
    <div class="mb-3">
        <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>